In [1]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [2]:
csv_file = "../Data/combo-michelin-restaurants-stars.csv"
michelin_data_df = pd.read_csv(csv_file)
michelin_data_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

# Cleaning CSV file

In [3]:
michelin_data_df.rename(columns = {
    'name': 'Name',
    'year': 'Year',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'city': 'City',
    'region': 'Region',
    'zipCode': 'Zip',
    'cuisine': 'Cuisine',
    'price': 'Price',
    'url': 'URL',
    'Stars': 'Michelin_Stars'
},inplace=True)

michelin_data_df.head()

,Name,Year,Latitude,Longitude,City,Region,Zip,Cuisine,Price,URL,Michelin_Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [4]:
michelin_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            695 non-null    object
 1   Year            695 non-null    int64
 2   Latitude        695 non-null    float64
 3   Longitude       695 non-null    float64
 4   City            693 non-null    object
 5   Region          695 non-null    object
 6   Zip             501 non-null    object
 7   Cuisine         695 non-null    object
 8   Price           520 non-null    object
 9   URL             695 non-null    object
 10  Michelin_Stars  695 non-null    int64
dtypes: float64(2), int64(2), object(7)
memory usage: 59.9+ KB

In [5]:
michelin_data_df = michelin_data_df.dropna()

In [6]:
michelin_data_df['Price'].replace({'$': '1', '$$': '2', '$$$': '3', '$$$$': '4', '$$$$$': '5'},inplace = True)

In [7]:
#Check for duplicates in the Names column
michelin_data_df['Name'].value_counts()

Silvio Nickol Gourmet Restaurant    1
Kin Khao                            1
Gastrologik                         1
Daniel Berlin                       1
batard                              1
                                   ..
Tail Up Goat                        1
Kitcho                              1
Pfefferschiff                       1
Hytra                               1
Jungsik                             1
Name: Name, Length: 336, dtype: int64

In [8]:
michelin_data_df.duplicated().sum()

0

In [9]:
michelin_data_df['Price'].value_counts()

4    161
3     89
5     50
2     35
1      1
Name: Price, dtype: int64

In [10]:
michelin_data_df.iloc[273,:]

Name                                                     Acquerello
Year                                                           2019
Latitude                                                   37.79167
Longitude                                                -122.42131
City                                                  San Francisco
Region                                                   California
Zip                                                           94109
Cuisine                                                     Italian
Price                                                             4
URL               https://guide.michelin.com/us/en/california/sa...
Michelin_Stars                                                    2
Name: 562, dtype: object

In [11]:
michelin_data_df['Price'] = michelin_data_df['Price'].astype('int64')

In [12]:
michelin_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336 entries, 0 to 689
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            336 non-null    object
 1   Year            336 non-null    int64
 2   Latitude        336 non-null    float64
 3   Longitude       336 non-null    float64
 4   City            336 non-null    object
 5   Region          336 non-null    object
 6   Zip             336 non-null    object
 7   Cuisine         336 non-null    object
 8   Price           336 non-null    int64
 9   URL             336 non-null    object
 10  Michelin_Stars  336 non-null    int64
dtypes: float64(2), int64(3), object(6)
memory usage: 31.5+ KB

In [13]:
michelin_data_df.head()

,Name,Year,Latitude,Longitude,City,Region,Zip,Cuisine,Price,URL,Michelin_Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,5,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,5,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,5,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,5,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,4,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [15]:
engine=sql.connect('restaurants.db')
michelin_data_df.to_sql(name='restaurants', con=engine, if_exists='replace', index=False)

## Creating new Database for Cuisine Bubble Chart

In [21]:
df = michelin_data_df.groupby(["Cuisine"]).size()
df2 = df.to_frame()
df2 = df2.rename(columns={0:"Number"})
df2.head()

                    Number
Cuisine
American                10
Asian                    2
Asian contemporary       1
Asian influences         1
Austrian                 1

In [22]:
engine=sql.connect('bubble.db')
michelin_data_df.to_sql(name='bubble_db', con=engine, if_exists='replace', index=False)