In [1]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [2]:
csv_file = "../Data/combo-michelin-restaurants-stars.csv"
michelin_data_df = pd.read_csv(csv_file)
michelin_data_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

# Cleaning CSV file

In [3]:
michelin_data_df.rename(columns = {
    'name': 'Name',
    'year': 'Year',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'city': 'City',
    'region': 'Region',
    'zipCode': 'Zip',
    'cuisine': 'Cuisine',
    'price': 'Price',
    'url': 'URL',
    'Stars': 'Michelin_Stars'
},inplace=True)

michelin_data_df.head()

,Name,Year,Latitude,Longitude,City,Region,Zip,Cuisine,Price,URL,Michelin_Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [4]:
michelin_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 11 columns):
Name              695 non-null object
Year              695 non-null int64
Latitude          695 non-null float64
Longitude         695 non-null float64
City              693 non-null object
Region            695 non-null object
Zip               501 non-null object
Cuisine           695 non-null object
Price             519 non-null object
URL               695 non-null object
Michelin_Stars    695 non-null int64
dtypes: float64(2), int64(2), object(7)
memory usage: 59.9+ KB

In [5]:
#Check for duplicates in the Names column
michelin_data_df['Name'].value_counts()

Blackbird           2
Sorrel              2
Summer Palace       2
Jungsik             2
Greenhouse          2
                   ..
West House          1
keiko a nob hill    1
n/naka              1
Sushi Ichi          1
Jay Fai             1
Name: Name, Length: 686, dtype: int64

In [6]:
michelin_data_df['Price'].value_counts()

$$$$     197
$$$      143
$$        75
$$$$$     73
$         31
Name: Price, dtype: int64

In [7]:
michelin_data_df.iloc[273,:]

Name                                                          House
Year                                                           2019
Latitude                                                    51.9478
Longitude                                                  -7.71354
City                                             Aird Mh√≥r/Ardmore
Region                                                      Ireland
Zip                                                             NaN
Cuisine                                              Modern cuisine
Price                                                           NaN
URL               https://guide.michelin.com/ie/en/waterford/air...
Michelin_Stars                                                    1
Name: 273, dtype: object

In [8]:
type(x)

NameError: name 'x' is not defined

In [9]:
michelin_data_df[michelin_data_df['Price']== x]

NameError: name 'x' is not defined

In [ ]:
michelin_data_df['Price'].dropna()

In [ ]:
michelin_data_df.head()

In [ ]:
engine=sql.connect('restaurants.db')
michelin_data_df.to_sql(name='restaurants', con=engine, if_exists='append', index=False)