In [4]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [8]:
csv_file = "Data/combo-michelin-restaurants-stars.csv"
michelin_data_df = pd.read_csv(csv_file)
michelin_data_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

# Cleaning CSV file

In [10]:
michelin_data_df.rename(columns = {
    'name': 'Name',
    'year': 'Year',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'city': 'City',
    'region': 'Region',
    'zipCode': 'Zip',
    'cuisine': 'Cuisine',
    'price': 'Price',
    'url': 'URL',
    'Stars': 'Michelin_Stars'
},inplace=True)

michelin_data_df.head()

,Name,Year,Latitude,Longitude,City,Region,Zip,Cuisine,Price,URL,Michelin_Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [11]:
michelin_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            695 non-null    object
 1   Year            695 non-null    int64
 2   Latitude        695 non-null    float64
 3   Longitude       695 non-null    float64
 4   City            693 non-null    object
 5   Region          695 non-null    object
 6   Zip             501 non-null    object
 7   Cuisine         695 non-null    object
 8   Price           519 non-null    object
 9   URL             695 non-null    object
 10  Michelin_Stars  695 non-null    int64
dtypes: float64(2), int64(2), object(7)
memory usage: 59.9+ KB

In [16]:
#Check for duplicates in the Names column
michelin_data_df['Name'].value_counts()

L'Atelier de Jo√´l Robuchon      3
Angler                           2
Aquavit                          2
Sushi Ginza Onodera              2
The Kitchen                      2
                                ..
Ta√Ørroir                        1
Vollmers                         1
Umu                              1
Chef's Table at Brooklyn Fare    1
OX                               1
Name: Name, Length: 684, dtype: int64