In [1]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "../Data/combo-michelin-restaurants-stars.csv"
michelin_data_df = pd.read_csv(csv_file)
michelin_data_df.head()

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [3]:

michelin_data_df.rename(columns = {
    'name': 'Name',
    'year': 'Year',
    'latitude': 'Latitude',
    'longitude': 'Longitude',
    'city': 'City',
    'region': 'Region',
    'zipCode': 'Zip',
    'cuisine': 'Cuisine',
    'price': 'Price',
    'url': 'URL',
    'Stars': 'Michelin_Stars'
},inplace=True)

In [4]:
michelin_data_df = michelin_data_df.dropna()

In [5]:
michelin_data_df['Price'].replace({'$': '1', '$$': '2', '$$$': '3', '$$$$': '4', '$$$$$': '5'},inplace = True)

In [6]:
michelin_data_df['Price'] = michelin_data_df['Price'].astype('int64')

In [7]:
michelin_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336 entries, 0 to 689
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            336 non-null    object
 1   Year            336 non-null    int64
 2   Latitude        336 non-null    float64
 3   Longitude       336 non-null    float64
 4   City            336 non-null    object
 5   Region          336 non-null    object
 6   Zip             336 non-null    object
 7   Cuisine         336 non-null    object
 8   Price           336 non-null    int64
 9   URL             336 non-null    object
 10  Michelin_Stars  336 non-null    int64
dtypes: float64(2), int64(3), object(6)
memory usage: 31.5+ KB

In [8]:
michelin_data_df['Price'].value_counts()

4    161
3     89
5     50
2     35
1      1
Name: Price, dtype: int64

In [9]:
michelin_data_df['Michelin_Stars'].value_counts()

1    260
2     57
3     19
Name: Michelin_Stars, dtype: int64

In [ ]:
#make a dataframe with the counts of each combination
#find graphing variables
n_Stars = v